.section-service-slider {
  position: relative;
  padding-top: 100px;
  padding-bottom: 90px;

  .section {
    padding-top: 0;
    padding-bottom: 0;
  }

  .service-slider {
    overflow: hidden;
  }

  .section__content {
    padding-right: 2.75em;
  }

  .section__sub-title {
    color: $color-primary;
  }

  .swiper-slide {
    height: auto;
  }

  .slider__sidebar {
    padding: 0 2.333em;
    line-height: 1.2;

    .heading {
      margin-bottom: 1.5em;
    }
  }

  .sticky-arrows-nav {
    background-color: transparent;
    left: 0;
    right: 0;
    top: 95px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 0;
    -o-transition: .5s;
    transition: .5s;
    z-index: 10;
  }

  .static-arrows-nav {
    display: none;
  }


  .block-nav {
    width: 100%;
    max-width: 115px;
    height: 100px;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    &_prev {
      order: -1;
      text-align: right;
      align-items: flex-end;
    }

    &__name {
      padding-bottom: 1em;
      font-size: 14px;
      line-height: 1.25;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 50px;
    height: 50px;
    color: $color-dark;
    border: 1px solid $color-dark;
    border-radius: 50%;

    position: static;
    margin-top: 0;
    flex-shrink: 0;

    &:hover,
    &:focus {
      border-color: $color-primary;
      color: $color-primary;
    }

    &:after {
      font-size: 23px;
    }
  }
}

.section_active {
  .sticky-arrows-nav {
    position: sticky;
    margin-bottom: -100px;
    opacity: 1;
  }
}


@include respond-to($lg) {
  .service-slider {
    .slider__sidebar {
      padding: 0;
    }
  }
}

@include respond-to($md) {
  .service-slider {
    .slider__sidebar,
    &__content {
      width: 100%;
    }

    .slider__sidebar {
      padding-top: 30px;
    }
  }
}