.section-usage{
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  .section__content p{
    margin-bottom: 2.167em;
  }
  .section__header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    .btn-wrap{
      margin-top: auto;
    }
  }
}