.section-intro {

  padding-top: 136px;
  min-height: 75.5vw;

  .contacts_mob {
    display: none;
    font-size: 24px;


    li {
      margin-bottom: 31px;

      &:first-child {
        position: relative;
        padding-left: 54px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .link_primary {
      .icon-phone {
        display: block;
        position: absolute;
        left: -54px;
        width: 34px;
        height: 33px;
      }
    }
  }

  .person-info.person-info_mob {
    display: none;
  }

  .section__header {
    animation-delay: 200ms;
  }

  .section__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    left: 0;
  }

  .section__sub-title {
    animation-delay: 500ms;
  }

  .section__title {
    margin-bottom: 1em;
  }

  .text_lg {
    width: 75%;
    line-height: 1.33;
    margin-bottom: 2.1em;
  }

  .text_md p {
    position: relative;
    margin-bottom: 1.667em;
    padding-right: 1.083em;
    padding-left: 1.33em;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 0.958em;
      height: 2px;
      background-color: $color-dark;
      left: 0;
      top: .7em;
      z-index: 1;
    }
  }

  .part-left,
  .part-right {
    width: 50%;
  }

  .problems {
    justify-content: space-between;

    &__item {
      width: 33.33%;
      animation-delay: 700ms;

      &:nth-child(2) {
        animation-delay: 800ms;
      }

      &:nth-child(3) {
        animation-delay: 900ms;
      }
    }
  }

  .certificate {
    width: 100%;
    max-width: 287px;
    padding: 20px 45px 18px 76px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
    margin-left: 32px;

    &__item {
      margin-bottom: .875em;
      font-size: 14px;
      line-height: 1.28;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .link_primary {
    display: inline;

    &:last-child {
      margin-bottom: 0;
    }

    .img {
      position: absolute;
      left: -15px;
      top: 2px;
      transform: translateX(-100%);
      width: 31px;
      height: 32px;
      display: block;
    }
  }

  .link_primary.link_primary-mob {
    display: inline-block;
  }

  @include respond-to($lg) {
    .problems__item .certificate {
      margin-left: 0;
    }
  }
  @include respond-to($md) {
    padding-top: 90px;

    .problems__item {
      width: 50%;

      &:last-child {
        width: 100%;
      }
    }
  }

  @include respond-to($sm) {
    padding-top: 0;
    .section__bg {
      background-position: center bottom;
      height: 90vh;

    }
    .section__header {
      padding-top: 42px;
      height: 90vh;

      .section__title {
        width: 80%;
      }
    }

    //.section__sub-title,
    .person-info_mob {
      display: block !important;
      text-align: center;

      .person-info__thumb {
        width: 100px;
        height: 100px;
      }

      .person-info__position {
        font-size: 12px;
      }

      .person-info__name {
        font-size: 30px;
        padding-bottom: 18px;
      }
    }
    .section__sub-title {

      font-weight: 600;
      text-align: center;
      margin: 0 auto 25px;
    }
    .certificate.certificate_desktop {
      display: none;
    }
    .contacts_mob {
      display: block;

      .link_phone {
        font-weight: 600;
      }
    }
  }

  @media all and (max-width: 920px) {
    .problems__item {
      width: 100%;
    }
  }

  @include respond-to($xxs) {

    .section__bg {
      height: 75vh;
    }
    .section__header {
      height: 75vh;
    }
    .person-info_mob {
      margin-bottom: 50px;
    }
    .section__sub-title {
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 20px;
    }
    .text_md p {
      margin-bottom: 1.4em;

      &:last-child {
        margin-bottom: 0;
      }
    }
    .contacts_mob {
      padding-top: 70px;
      text-align: center;

      li:first-child {
        margin-bottom: 20px;
        padding-left: 0;
      }

      .link_phone {
        padding-left: 0;
        padding-top: 36px;

        .icon-phone {
          top: -15px;
          transform: translateX(-50%);
          left: 50%;
        }
      }
    }
    .link_primary.link_primary-mob {
      font-size: 24px;
      width: 100%;
    }
  }
  @media all and (max-width: 380px) {
    .section__sub-title {
      font-size: 20px;
    }

    .contacts_mob .link_phone {
      padding-top: 26px;
    }
    .link_primary.link_primary-mob {
      font-size: 18px;
      padding-left: 40px;
      padding-right: 40px;
      width: 100%;
    }
  }
}

