.section-services {
  position: relative;
  min-height: 940px;

  .section__header {
    position: static;
  }

  .section__title {
    animation-delay: 100ms;
  }

  .section__bg-image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50%;

    background-position: right bottom;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }

  @media screen and (max-width: 1920px) {
    min-height: 50vw;
  }

  .section__title {
    max-width: 635px;
    width: 70%;
  }

  .nav-services li {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}