.section-intro {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;

  .section__title {
    margin-bottom: 1em;
  }

  .text_lg {
    max-width: 790px;
    line-height: 1.33;
    margin-bottom: 2.1em;
  }

  .text_md p {
    position: relative;
    margin-bottom: 1.667em;
    //padding-right: 2.083em;
    padding-right: 1.083em;
    padding-left: 1.33em;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 0.958em;
      height: 2px;
      background-color: $color-dark;
      left: 0;
      top: .7em;
      z-index: 1;
    }

  }
.part-left,
.part-right{
  width: 50%;
}
  .certificate {
    width: 100%;
    max-width: 287px;
    padding: 20px 45px 18px 76px;
    border-radius: 10px;
    margin-left: 20px;
    background-color: rgba(255, 255, 255, .5);
  }

  .link_primary {
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: .875em;

    &:last-child {
      margin-bottom: 0;
    }

    .img {
      position: absolute;
      left: -15px;
      top: 2px;
      transform: translateX(-100%);
      width: 31px;
      height: 32px;
      display: block;
    }
  }
}