.section-usage {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 100vh;

  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100% 100vh;
  background-size: 100% 100vh;
  background-attachment: fixed;
  color: white;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .4;
    background-color: $bg-dark;
  }

  .section__content {
    position: relative;
    padding: 100vh 0 100vh 30px;

    p {
      margin-bottom: 2.167em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .section__header {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100vh;
    padding-top: 120px;
    padding-bottom: 100px;
    padding-right: 30px;

    .btn-wrap {
      margin-top: auto;
    }
  }

  .btn_primary.btn_primary-mob {
    display: none !important;
  }

  .header-col {
    position: sticky;
    top: 0;
  }

  .row {
    position: relative;
  }

  @include respond-to($xs) {
    background-color: #383733;
    -webkit-background-size: 0;
    background-size: 0;
    .col-6 {
      width: 100%;
    }
    .section__content p {
      margin-bottom: 1.67em;
    }
    .section__header {
      padding-top: 70px;
      height: auto;
      padding-bottom: 10px;

      .btn {
        display: none;
      }
    }
    .header-col {
      position: relative;
    }
    .section__content {
      padding: 0 0 52px 56px;
      font-size: 20px;
    }
    .btn_primary.btn_primary-mob {
      display: inline-block !important;
      font-size: 24px;
      font-family: $main-font;
      font-weight: 400;
      padding: 16px 56px 17px
    }
    .btn-wrap{
      text-align: center;
    }
  }
}