.section-service-slider {
  .section__content {
    padding-right: 2.75em;
  }

  .services {
    color: $color-primary;
  }

  .sidebar-appointed-at {
    padding: 0 2.333em;
    line-height: 1.2;

    .heading {
      margin-bottom: 1.5em;
    }
  }

  .swiper-slide__heading {
    position: fixed;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 80px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .block-nav {
    width: 8%;
    max-width: 115px;
    font-size: 14px;
    display: flex;
    flex-direction: column;

    &_prev {
      order: -1;
      text-align: right;
      align-items: flex-end;
    }

    &__name {
      margin-bottom: 17px;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 50px;
  height: 50px;
  color: $color-dark;
  border: 1px solid $color-dark;
  border-radius: 50%;

  position: static;
  margin-top: 0;

  &:hover,
  &:focus {
    border-color: $color-primary;
    color: $color-primary;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 23px;
}