.btn{
  display: inline-block;
  border: none;
  color: $color-light;
  text-align: center;
  font-weight: 600;
  line-height: 1;
  padding: 1.083em 2.25em 1.167em;
  border-radius: 40px;
  transition: .35s;
  //position: relative;
  //overflow: hidden;
  //transition: .5s ease-in-out;
  //&:before {
  //  content: "";
  //  background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
  //  height: 7em;
  //  width: 4em;
  //  position: absolute;
  //  top: -8px;
  //  left: -100%;
  //  transform: skewX(-45deg);
  //}

  //&:hover:before {
  //  left: 100%;
  //  transition: .5s ease-in-out;
  //}

  &:hover,
  &:focus{
    background-color: darken($color-primary, 7.5%);
  }
  &_primary{
    background-color: $color-primary;
  }
}


