$color-primary: #ff4200;
$color-dark: #000;
$color-light: #fff;


$bg-light-100: #f0efe9;
$bg-light-300: #e9e6dd;
$bg-light-500: #969591;
$bg-dark: #383733;

$main-font: GillSansC, sans-serif;


// Screen Variables

$xxs: '(max-width: 480px)';
$xs: '(max-width: 776px)';
$sm: '(max-width: 1080px)';
$md: '(max-width: 1180px)';
$lg: '(max-width: 1280px)';
$screen-md: '(max-width: 1460px)';
$screen-lg: '(max-width: 1660px)';