@import '../layout/sections/section-intro';
@import '../layout/sections/section-services';
@import '../layout/sections/section-usage';
@import '../layout/sections/section-service-slider';

.person-info {
  min-height: 100px;
  padding-top: 25px;
  margin-bottom: 90px;

  &__thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
  }

  &__name {
    padding-bottom: 15px;
    line-height: 1;
  }

  &__position {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.66;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    max-width: 220px;
  }

  @include respond-to($screen-lg) {
    &__position {
      font-size: 10px;
    }
    &__thumb {
      width: 85px;
      height: 85px;
    }
  }

  @include respond-to($sm) {
    &__thumb {
      position: relative;
      top: 0;
      left: 0;
      margin: 0 auto 15px;
      display: block;
    }
    &__position {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.link {
  display: inline-block;
  line-height: 1.25;
  transition: .35s;

  &:hover,
  &:focus {
    border-color: transparent;
  }


  &_primary {
    position: relative;
    color: $color-primary;
    border-bottom: 2px dashed $color-primary;
  }

  &_border-grey {
    display: inline;
    line-height: 1.2;
    border-bottom: 2px dashed $bg-light-500;
  }
}

.dynamic-content {
  p {
    margin-bottom: 1.250em;
  }

  ul {
    padding-left: 1.375em;
  }

  li {
    position: relative;
    margin-bottom: 0.938em;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 1.063em;
      height: 1px;
      background-color: $color-dark;
      left: -1.375em;
      top: .65em;
      z-index: 1;
    }
  }
  @include respond-to($xs) {
    p{
      font-size: 20px;
    }
    ul,
    li{
      font-size: 16px;
    }
  }
}